.nav-pills .nav-link {
  color: #b2bec9;
  font-weight: bold;
  border-radius: 30px;
  margin-right: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}



.nav-pills .nav-link:hover {
  color: #907b11;
  background-color: var(--mm-surface-3);
}
