@if (breadcrumb().length) {
<nav class="page-header-breadcrumb" aria-label="مسیر صفحه">
  <ol class="mm-breadcrumb">
    <li>
      <a routerLink="/dashboard" title="داشبورد"><i class="fa fa-home"></i></a>
    </li>
    @for (item of breadcrumb(); track $index; let last = $last) {
    <li [class.active]="last">
      @if (!last) {
      <a [routerLink]="item.routerLink">{{ item.label }}</a>
      } @else {
      <span aria-current="page">{{ item.label }}</span>
      }
    </li>
    }
  </ol>
</nav>
}
