.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.list-group-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.selected-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--mm-border);
}

.selected-member img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-group-item {
  cursor: pointer;
}

.border-success {
  border: 2px solid green;
}

.border-danger {
  border: 2px solid red;
}

.border-secondary {
  border: 1px solid var(--mm-border-strong);
}

.fixed-label {
  width: 130px;
  /* عرض ثابت برای قسمت label */
  text-align: right;
  /* متن را به سمت راست تراز کنید */
}

.bg-light {
  background-color: #cccccc61 !important;
}
